<!DOCTYPE html>
<html>
  <head>
  <% include header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<ul id="grid" class="container" style="display: table; table-layout: fixed;"><li class="Greeed-column" style="display: table-cell; vertical-align: top;"><li class="Greeed-item" style="--delay:0s;">
  <li class="Greeed-column" style="display: table-cell; vertical-align: top;"><li class="Greeed-item" style="--delay:0.1s;">
    <li class="Greeed-item" style="--delay:0.75s;">
      <a href="/contrato/RL-tP3xB" class="contract">
          <time>20/7/2018</time>
          <h2>Ruta 1</h2>
          <div>
              <label>
                  <span>Adjudicatario</span>
                  <h2 class="company">ALPINE PROJECT MOUNTAIN, S. L.</h2>
              </label>
              <label>
                  <span>Precio</span>
                  <h2 class="euros">2420 €</h2>
              </label>
          </div>
          <small>Dirección General de Deporte &gt; Consejería de Educación, Cultura y Deporte</small>
      </a>
    </li>
    <li class="Greeed-item" style="--delay:0.75s;">
      <a href="/contrato/RL-tP3xB" class="contract">
          <time>20/7/2018</time>
          <h2>Ruta 2</h2>
          <div>
              <label>
                  <span>Adjudicatario</span>
                  <h2 class="company">ALPINE PROJECT MOUNTAIN, S. L.</h2>
              </label>
              <label>
                  <span>Precio</span>
                  <h2 class="euros">2420 €</h2>
              </label>
          </div>
          <small>Dirección General de Deporte &gt; Consejería de Educación, Cultura y Deporte</small>
      </a>
    </li>
  </li>
  <li class="Greeed-column" style="display: table-cell; vertical-align: top;"><li class="Greeed-item" style="--delay:0.1s;">
    <li class="Greeed-item" style="--delay:0.75s;">
      <a href="/contrato/RL-tP3xB" class="contract">
          <time>20/7/2018</time>
          <h2>Ruta 1</h2>
          <div>
              <label>
                  <span>Adjudicatario</span>
                  <h2 class="company">ALPINE PROJECT MOUNTAIN, S. L.</h2>
              </label>
              <label>
                  <span>Precio</span>
                  <h2 class="euros">2420 €</h2>
              </label>
          </div>
          <small>Dirección General de Deporte &gt; Consejería de Educación, Cultura y Deporte</small>
      </a>
    </li>
    <li class="Greeed-item" style="--delay:0.75s;">
      <a href="/contrato/RL-tP3xB" class="contract">
          <time>20/7/2018</time>
          <h2>Ruta 2</h2>
          <div>
              <label>
                  <span>Adjudicatario</span>
                  <h2 class="company">ALPINE PROJECT MOUNTAIN, S. L.</h2>
              </label>
              <label>
                  <span>Precio</span>
                  <h2 class="euros">2420 €</h2>
              </label>
          </div>
          <small>Dirección General de Deporte &gt; Consejería de Educación, Cultura y Deporte</small>
      </a>
    </li>
  </li>
</ul>
  </body>
</html>
